.none{
    display: none;
}
.blk{
    display: block;
}
span{
    border: 1px solid #000;
    width: 150px;
}
.inline{
    display:inline;
}
.inline-block{
    display: inline-block;
    border: 1px solid #000;
    width:150px;
}
div{
    border: 5px solid #000;
    padding: 10px;
}