.container{
    background-color: gray;
    width: 60vw;
    height: 90vh;
}
.item{
    border: 1px solid #000;
    background-color: aqua;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    float: left;
} 
.a{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    float: left;
    color:gray
}
.div{
    width:350px;
}