*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

 body{
	background-image: url(/mini_board/design/12345.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 100px;
} 


 header{
	width:100%;
	background-color: #000;
	color: #fff;
	padding: 2rem;

} 
header>h1{
	color:#fff;
	text-align: center;
	font-size: 4rem;
}
table{
	border-collapse: collapse;
	width:700px;
	height:500px;
	margin:50px auto;
	font-size:1.5rem;
	color: #fff;
}

tr,td{
	border-bottom: 1px solid #fff;
	text-align: center;
}
.table_name{
	border:none;
	background-color: rgb(0, 0, 0, 0.5);
	color: #fff;
}
section{
	text-align: center;
}
a{
	text-decoration: none;
	display:inline-block;
	width:50px;
	height:50px;
	text-align: center;
	line-height: 50px;
	color:#fff;
}	
.a_list{
	color:#fff;
}
.page_btn{
	text-decoration: none;
	display:inline-block;
	width:50px;
	height:50px;
	background-color: #000;
	text-align: center;
	line-height: 50px;
	color:#fff;
	border-radius: 50%;

}
.header_1 {
	width:500px;
	color: #fff;
	text-align: center;
	
}
.form_1{
	width:500px;
	margin:50px auto;
	
}	
.detail_a{
	border:1px solid #000;
	border-radius: 50%;
}
.div_detail{
	text-align: center;
}
.div_update{
text-align: center;
}
button:hover{
	background-color: brown;
}
.a_hover:hover{
	background-color: brown;
}
textarea{
	resize:none;
	vertical-align: top;
	background-color: transparent;
}
input{
	background-color: transparent;	
}

.div_insert{
text-align: center;
}

button{
	display:inline-block;
	width: 50px;
	height: 50px;
	border:none;
	background-color: transparent;
	cursor: pointer;
	font-size: medium;
	color:#fff
}
caption{
	color:red;
}